<div class="container text-center p-2"><h2 class="fw-bold text-muted" id="aboutus"><hr>ABOUT US</h2>
    <span class="material-symbols-outlined">
      record_voice_over
      </span> 
  </div>
  <div class="container">
    <div class="container text-center">
      <div class="row">
        
        <div class="col align-self-center">
          <p><%=about%></p>
        </div>
      
      </div>
    </div>
  </div>