<div class="container text-center p-2"><h2 class="fw-bold text-muted" id="aboutus"><hr>CONTACT US</h2>
  <span class="material-symbols-outlined">
    contacts
    </span>
    
</div>
<div class="container" id="contactus"><hr></div>
  <div class="contact">
    <div class="container text-center p-5">
      <div class="row row-cols-1 row-cols-sm-2">
        <div class="col align-self-center">
          <iframe class="container" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=22%C2%B023'37.5%22N%2088%C2%B025'48.8%22E&key=AIzaSyB9tJIPxj2xG-KDL1oM4dzxEMrztpqaNqo"></iframe> 
        </div>
        <div class="col address">
          <address>
            <p class="fw-bolder">
              Ankit Roy<br>
              Vill- Hariharpur Gram Panchayat<br>
              P.O. Mallickpur, P.S. Baruipur <br>
              Kolkata 700147
            </p>
          
            <ul class="fw-bolder">
              <li>Tel: 9883224393 / 9051217896</li>
              <li>Email: ankitroy656@gmail.com</li>
              <li><a href="https://wa.me/message/5MXEO7KUWTTBM1"><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"/></a></li>
            </ul>
          </address>
          
        </div>
        
      </div>
    </div>  
  </div>