<div class="container text-center p-2"><h2 class="fw-bold text-muted" id="ourservice"><hr>SERVICES PROVIDED BY US</h2>
  <span class="d-block material-symbols-outlined">
    settings
    </span>
    <hr> 
</div>
<div class="background">
  <div class="container pb-2 pt-2 text-center services">
      <div class="row row-cols-1 row-cols-sm-2 g-2">
          <div class="col">
            <div class="container service">
              <h2 class="bg-primary text-white rounded-2">COMMERCIAL</h2>
              <div class="list-group">
              <%- include('scom');%>
             </div>
            </div>
          </div>
          
        <div class="col">
          <div class="container service">
              <h2 class="bg-primary text-white rounded-2">HOME APPLIANCE</h2>
              <div class="list-group">
              <%- include('shome');%>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
