<div class="accordion" id="accordionExample2">
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem7">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem7" aria-expanded="false" aria-controls="collapseItem7">
        AIR CONDITIONER
      </button>
    </h2>
    <div id="collapseItem7" class="accordion-collapse collapse" aria-labelledby="headingItem7" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">Installation</li>
          <li class="list-group-item">Uninstallation</li>
          <li class="list-group-item">Water Leakge</li>
          <li class="list-group-item">Won't trun on</li>
          <li class="list-group-item">not cooling</li>
          <li class="list-group-item">Not cooling enough</li>
          <li class="list-group-item">Constantly running</li>
          <li class="list-group-item">Other Issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem8" aria-expanded="false" aria-controls="collapseItem8">
        REFRIGERATOR
      </button>
    </h2>
    <div id="collapseItem8" class="accordion-collapse collapse" aria-labelledby="headingItem8" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">No Cooling</li>
          <li class="list-group-item">Deep Freeze Frosting Issue</li>
          <li class="list-group-item">Water Leakage</li>
          <li class="list-group-item">Start and then Stop</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem9">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem9" aria-expanded="false" aria-controls="collapseItem9">
        WASHING MACHINE
      </button>
    </h2>
    <div id="collapseItem9" class="accordion-collapse collapse" aria-labelledby="headingItem9" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">Sparking</li>
          <li class="list-group-item">Making noise</li>
          <li class="list-group-item">Water Leakage</li>
          <li class="list-group-item">Vibration</li>
          <li class="list-group-item">Start and then Stop</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem10">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem10" aria-expanded="false" aria-controls="collapseItem10">
        MICROWAVE OVEN
      </button>
    </h2>
    <div id="collapseItem10" class="accordion-collapse collapse" aria-labelledby="headingItem10" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">Sparking</li>
          <li class="list-group-item">Not heating food properly</li>
          <li class="list-group-item">Plate not spinning</li>
          <li class="list-group-item">Making noise</li>
          <li class="list-group-item">Start and then Stop</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem11">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem11" aria-expanded="false" aria-controls="collapseItem11">
        KITCHEN CHIMNEY
      </button>
    </h2>
    <div id="collapseItem11" class="accordion-collapse collapse" aria-labelledby="headingItem11" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem12">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem12" aria-expanded="false" aria-controls="collapseItem12">
        GEYSER
      </button>
    </h2>
    <div id="collapseItem12" class="accordion-collapse collapse" aria-labelledby="headingItem12" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">The water getting too hot</li>
          <li class="list-group-item">No hot water</li>
          <li class="list-group-item">Takes too long to reheat</li>
          <li class="list-group-item">Water is too cold</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
  <div class="accordion-item list-group-item list-group-item-action">
    <h2 class="accordion-header" id="headingItem13">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem13" aria-expanded="false" aria-controls="collapseItem13">
        RO WATER PURIFIER
      </button>
    </h2>
    <div id="collapseItem13" class="accordion-collapse collapse" aria-labelledby="headingItem13" data-bs-parent="#accordionExample2">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Servicing</li>
          <li class="list-group-item">Other issues</li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book now
        </button> 
      </div>
    </div>
  </div>
</div>